registry = "https://artifactory.globalrelay.net:8443/artifactory/api/npm/npm"
_auth = YmFtYnVzZXI6QUtDcDVaMmhkN3FtRk5IMXlETE5vVURnOE5OMXltc3NXWEZzVGdxQnJZZzJ0QjdqNVN0TUJSVzR4QUVoU3p4WktNTkdIdnUxYg==
always-auth = true
email = bambuser@globalrelay.net
